.abc-controls {
  margin: .5rem 0;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.abc-controls button {
  padding: .25rem .7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
